<!--5/5-->
<!--NEGACION DOCS-->
<mat-card class="example-card">
  <mat-card-header style="background-color: skyblue;" class="titulo">
    <mat-card-subtitle style="color: black; text-align: center;">
      <h1><b>  NEGACIÓN DE DOCUMENTOS</b></h1>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-header>
    <mat-card-title>Estimado Jostyn Moreira</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ denegacionDocumentos }}</p>

    <p>{{denegacionDocumentos1}}</p>
    <p>{{denegacionDocumentos2}}</p>
    <mat-divider></mat-divider>
    <div class="card">
      <label for="fileAutenticacion">Subir Foto de autenticación (PNG)</label>
      <input type="file" id="fileAutenticacion" accept=".png" (change)="handleFileChange($event, 'autenticacion')" required>
    </div>
<br>
    <div class="card">
      <label for="fileHojaVida">Subir Hoja de vida (PDF)</label>
      <input type="file" id="fileHojaVida" accept=".pdf" (change)="handleFileChange($event, 'hojaVida')" required>
    </div>
    <mat-divider></mat-divider>
    <br>
    <p>{{denegacionDocumentos3}}</p>

    <p>
      <b> Atentamente, <br>
        Steveen Sinchiguano <br>
        Equipo de Soporte <br> </b>
    </p> <br>
  </mat-card-content>
  <mat-card-actions style="background-color: skyblue;">

    <button mat-raised-button style="background-color: red; color: white;">CANCELAR</button>

  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
