<!--3/5-->
<mat-card class="example-card">
  <mat-card-header style="background-color: skyblue;" class="titulo">
    <mat-card-subtitle style="color: black; text-align: center;">
      <h1><b>  ENVIO DE DATOS</b></h1>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-header>
    <mat-card-title>Estimado Jostyn Moreira</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ aprobacionGeneral }}</p>
    <p>
      <b>Nombre:</b> Jostyn Moreira <br>
      <b>Número de cédula:</b> 2350081010 <br>
      <b>Edad:</b> 23 años <br>
      <b>Dirección:</b> Sueño de Bolivar <br>
      <b>Número de teléfono:</b> (593) 992-410-791 <br>
      <b>Correo electrónico:</b> sjsinchiguano@espe.edu.ec <br>
    </p>
    <br>
    <p>{{ingresoInformacion}}</p>
    <p>
      <b> Atentamente, <br>
        Steveen Sinchiguano <br>
        Equipo de Soporte <br> </b>
    </p> <br>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
