

/* tabla-imagen.component.scss */
.text-center{
    margin: 2% auto;
}

.table-container {
    margin: 6%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }

  .table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }

  .table th {
    background-color: #f8f9fa;
  }

  .table tbody tr:hover {
    background-color: #f1f1f1;
  }

  .table tfoot {
    background-color: #f8f9fa;
  }

  .table img {
    max-width: 50px;
    border-radius: 50%;
  }

  .table-actions {
    text-align: center;
  }

  .btn-accept {
    background-color: #28a745;
    color: #fff;
  }

  .btn-reject {
    background-color: #dc3545;
    color: #fff;
  }
