<app-navbar/>
<app-login/>

<app-table/>
<div class="text-center">
  <h1 style="font-size: 70px;">Lista Final</h1>
</div>
<div class="table-container">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>Cédula</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Dirección</th>
        <th>Imagen</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos">
        <td>{{ dato.cedula }}</td>
        <td>{{ dato.nombres }}</td>
        <td>{{ dato.apellidos }}</td>
        <td>{{ dato.telefono }}</td>
        <td>{{ dato.correo }}</td>
        <td>{{ dato.direccion }}</td>
        <td><img [src]="dato.imagen" alt="Imagen" width="50" height="50"></td>
        <td>
          <button class="btn btn-success mr-4" (click)="confirmarAceptacion(dato)">Aceptar</button>
          <button class="btn btn-danger" (click)="confirmarRechazo(dato)">Rechazar</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8" class="text-center">Total: {{ datos.length }}</td>
      </tr>
    </tfoot>
  </table>
</div>


