<div class="container px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <div class=" mt-2">
                    <img class="logo" src="assets/imagen/logo.jpg" alt="Mi Imagen">
                </div>
                <h5 class="text-center mb-4">Formulario de Pre Registro</h5>
                <form class="form-card" [formGroup]="form">
                    <!--primera colum-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row justify-content-between text-left mt-2 ">
                                <div class="form-group col-sm-12 flex-column d-flex">

                                    <label  class="form-control-label px-3">Cédula<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName="cedula" id="cedula" (keydown)="valideInputNumber($event)" minlength="10" maxlength="10" name="cedula" placeholder="Ingrese su cedula">
        
                                    <div *ngIf="form.get('cedula')?.invalid && form.get('cedula')?.touched">
                                        <div *ngIf="form.get('cedula')?.errors?.['required']">
                                            <small class="text-danger">Por favor, ingresa tu cédula.</small>
                                        </div>
                                        <div *ngIf="form.get('cedula')?.errors?.['minlength']">
                                            <small class="text-danger">La cédula debe contener 10 dígitos.</small>
                                        </div>
                                        <div *ngIf="form.get('cedula')?.errors?.['cedulaInvalida']">
                                            <small class="text-danger">La cédula no es ecuatoriana.</small>
                                        </div>
                                    </div>                            
                                </div>
                                <div class="form-group col-sm-12 flex-column d-flex mt-2">
                                    <label class="form-control-label px-3">Nombres<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName="nombres" id="nombres" name="nombres" (keydown)="valideInputText($event)" placeholder="Ingrese sus nombres">
                                    <div *ngIf="form.get('nombres')?.invalid && form.get('nombres')?.touched">
                                        <div *ngIf="form.get('nombres')?.errors?.['required']">
                                            <small class="text-danger">Por favor, ingrese sus nombres.</small>
                                        </div>
                                    </div>  
                                </div>
                                <div class="form-group col-sm-12 flex-column d-flex mt-2">
                                    <label class="form-control-label px-3">Apellidos<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName="apellidos" id="apellidos" name="apellidos" (keydown)="valideInputText($event)" placeholder="Ingrese sus apellidos">
                                    <div *ngIf="form.get('apellidos')?.invalid && form.get('apellidos')?.touched">
                                        <div *ngIf="form.get('apellidos')?.errors?.['required']">
                                            <small class="text-danger">Por favor, ingresa sus apellidos.</small>
                                        </div>
                                    </div>  
                                </div>
                                <div class="form-group col-sm-12 flex-column d-flex mt-2">
                                    <label class="form-control-label px-3">Fecha de Nacimiento<span class="text-danger">*</span></label>
                                    <input type="date" class="form-control" formControlName="fecha" id="fecha" name="fecha">
                                    <div *ngIf="form.get('fecha')?.invalid && form.get('fecha')?.touched">
                                        <div *ngIf="form.get('fecha')?.errors?.['required']">
                                          <small class="text-danger">Por favor, ingrese su fecha de nacimiento.</small>
                                        </div>
                                        <div *ngIf="form.get('fecha')?.errors?.['fechaInvalida']">
                                          <small class="text-danger">La fecha no puede ser posterior a la fecha actual.</small>
                                        </div>
                                    </div> 
                                </div>
                                <div class="form-group col-sm-12 flex-column d-flex mt-2">
                                    <label class="form-control-label px-3">Celular<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName="telefono" id="telefono" name="telefono" (keydown)="valideInputNumber($event)" minlength="10" maxlength="10" placeholder="Ingrese su número">
                                    
                                    <div *ngIf="form.get('telefono')?.invalid && form.get('telefono')?.touched">
                                        <div *ngIf="form.get('telefono')?.errors?.['required']">
                                            <small class="text-danger">Por favor, ingresa su numero celular.</small>
                                        </div>
                                        <div *ngIf="form.get('telefono')?.errors?.['minlength']">
                                            <small class="text-danger">Su número debe contener 10 dígitos.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 flex-column d-flex mt-2">
                                    <label class="form-control-label px-3">Correo<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName="correo" id="correo" name="correo"  placeholder="Ingrese su correo">
                                    <div *ngIf="form.get('correo')?.invalid && form.get('correo')?.touched">
                                        <div *ngIf="form.get('correo')?.errors?.['required']">
                                            <small class="text-danger">Por favor, ingresa tu correo.</small>
                                        </div>
                                        <div *ngIf="form.get('correo')?.errors?.['email']">
                                            <small class="text-danger">Correo incorrecto</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 flex-column d-flex mt-2">
                                    <label class="form-control-label px-3">Dirección<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName="direccion" id="direccion" (keydown)="valideInputText($event)" name="direccion" placeholder="Ingrese su dirección">
                                    <div *ngIf="form.get('direccion')?.invalid && form.get('direccion')?.touched">
                                        <div *ngIf="form.get('direccion')?.errors?.['required']">
                                            <small class="text-danger">Por favor, ingresa su dirección.</small>
                                        </div>
                                    </div>  
                                </div>  
                            </div>
                        </div>
                        <!--SEGUNDA COLUMNA--->
                        <div class="justify-content-between mt-4 col-sm-6">
                            <div class="form-group col-sm-12 flex-column d-flex">
                                <label class="form-control-label px-3"><strong> Información Complementaria</strong><span class="text-danger"></span></label>
                                <div class="form-group col-sm-12 flex-column d-flex">
                                    <label class="form-control-label px-3 mt-3">Describa su experiencia laboral<span class="text-danger">*</span></label>
                                    <textarea rows="3" class="form-control" formControlName="pregunta1" id="pregunta1" (keydown)="valideInputText($event)" name="pregunta1" ></textarea>
                                    <div *ngIf="form.get('pregunta1')?.invalid && form.get('pregunta1')?.touched">
                                        <div *ngIf="form.get('pregunta1')?.errors?.['required']">
                                            <small class="text-danger">Por favor, ingrese su respuesta.</small>
                                        </div>
                                    </div>  
                                </div>
                                <div class="form-group col-sm-12 flex-column mt-3 d-flex">
                                    <label class="form-control-label px-3">Describa su área de conocimiento<span class="text-danger">*</span></label>
                                    <textarea rows="3" class="form-control" formControlName="pregunta2" id="pregunta2" (keydown)="valideInputText($event)" name="pregunta1" ></textarea>
                                    <div *ngIf="form.get('pregunta2')?.invalid && form.get('pregunta2')?.touched">
                                        <div *ngIf="form.get('pregunta2')?.errors?.['required']">
                                            <small class="text-danger">Por favor, ingrese su respuesta.</small>
                                        </div>
                                    </div>  
                                </div>
                                <div class=" mt-3">
                                    Elija su nivel de educación <br>
                                    <div class="mt-3">
                                        <select class="form-select" id="exampleSelect" formControlName="educacion">
                                            <option value="1">Educación primaria</option>
                                            <option value="2">Educación secundaria</option>
                                            <option value="3">Educación técnica o vocacional</option>
                                            <option value="4">Educación universitaria incompleta</option>
                                            <option value="5">Educación universitaria completa (Licenciatura)</option>
                                            <option value="6">Educación de posgrado (Maestría)</option>
                                            <option value="7">Doctorado o equivalente</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 d-flex justify-content-center mt-3">
                        <button type="button" class="btn btn-success left" [disabled]="!form.valid" (click)="onSubmit()">Guardar</button>
                    </div>
                </form>   
            </div>
        </div>
    </div>
</div>